{% extends 'base.html' %}
{% block title %}Changelog - CRM Django{% endblock %}
{% block content %}
<div class="ui segment">
    <h2 class="ui header"><i class="history icon"></i> Changelog</h2>
    <div class="ui relaxed divided list">
        {% for entry in changelog_entries %}
        <div class="item">
            <i class="calendar icon"></i>
            <div class="content">
                <div class="header">{{ entry.date }}</div>
                <div class="description">{{ entry.content|safe }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
